
@{
    ViewBag.Title = "GraphicDesign";
}

<div class="d-row">
    <div class="d-column title-bg">
        <div class="container">
            <div class="pagetitle">
                <div class="title-animation">
                    <h2 class="graphic">G</h2>
                    <h2 class="graphic">R</h2>
                    <h2 class="graphic">A</h2>
                    <h2 class="graphic">P</h2>
                    <h2 class="graphic">H</h2>
                    <h2 class="graphic">I</h2>
                    <h2 class="graphic">C</h2>
                    <h2 class="graphic">D</h2>
                    <h2 class="graphic">E</h2>
                    <h2 class="graphic">S</h2>
                    <h2 class="graphic">I</h2>
                    <h2 class="graphic">G</h2>
                    <h2 class="graphic">N</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="container">
        @*  Informatics hub  *@
        <div class="col-md-6">
            <div class="d-column">
                <div class="graphicpanel">
                    <img src="~/Images/InformaticsHubLogo.jpg" alt="informatics logo" />
                    <h4 class="text-warning voffset3">Informatics Hub</h4>
                    <p class="graphic-text text-warning">
                        A logo for the central information hub. The colours and squares
                        represent the different components, teams and data related to the hub.
                    </p>
                </div>
            </div></div>

        @*  My Staff file  *@
        <div class="col-md-6">
            <div class="d-column">
                <div class="graphicpanel">
                    <img id="negvoffset" src="~/Images/MyStaffFile-Logo.png" alt="my staff file logo" />
                    <h4 class="text-warning">My Staff File</h4>
                    <p class="graphic-text text-warning">
                        A logo design for the application, also on the web design page,
                        simple and self explanitory.
                    </p>
                </div>
            </div>
        </div>

        @*  My Staff file Pen *@
        <div class="col-md-6 clear">
            <div class="d-column">
                <div class="graphicpanel">
                    <img id="" src="" alt="my staff file Pen" />
                    <h4 class="text-warning">My Staff File Pen</h4>
                    <p class="graphic-text text-warning">
                        As part of the promotion of My Staff File the team required pens with
                        the logo and web address for staff to access the system.
                    </p>
                </div>
            </div>
        </div>

        @*  My Staff file leaflet *@
        <div class="col-md-6">
            <div class="d-column">
                <div class="graphicpanel">
                    <img id="" src="" alt="my staff file leaflet" />
                    <h4 class="text-warning">My Staff File Leafllet</h4>
                    <p class="graphic-text text-warning">
                        To accompany the pen, informational leaflets were designed
                        to give users a quick and easy "how to guide".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



