
@{
    ViewBag.Title = "GraphicDesign";
}

<div class="d-row">
    <div class="d-column title-bg">
        <div class="container">
            <div class="pagetitle">
                <div class="title-animation">
                    <h2 class="graphic">G</h2>
                    <h2 class="graphic">R</h2>
                    <h2 class="graphic">A</h2>
                    <h2 class="graphic">P</h2>
                    <h2 class="graphic">H</h2>
                    <h2 class="graphic">I</h2>
                    <h2 class="graphic">C</h2>
                    <h2 class="graphic">D</h2>
                    <h2 class="graphic">E</h2>
                    <h2 class="graphic">S</h2>
                    <h2 class="graphic">I</h2>
                    <h2 class="graphic">G</h2>
                    <h2 class="graphic">N</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container">
            <div class="graphicpanel">
                <h2 class="text-muted">Informatics Hub</h2>
                <div class="col-sm-6">
                    <img src="~/Images/InformaticsHubLogo.jpg" alt="informatics logo" />
                </div>
                <div class="col-sm-6">
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container">
            <div class="graphicpanel">
                <h2 class="text-muted">My Staff File</h2>
                <div class="col-sm-6">
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="col-sm-6 mystaff-logo">
                    <img src="~/Images/MyStaffFile-Logo.png" alt="my staff file logo" />
                </div>
            </div>
        </div>
    </div>
</div>

