@{
    ViewBag.Title = "Portfolio";
}

<div class="d-row">
    <div class="d-column title-bg">
        <div class="container">
            <div class="pagetitle">
                <div class="title-animation">
                    <h2 class="letter">P</h2>
                    <h2 class="letter">O</h2>
                    <h2 class="letter">R</h2>
                    <h2 class="letter">T</h2>
                    <h2 class="letter">F</h2>
                    <h2 class="letter">O</h2>
                    <h2 class="letter">L</h2>
                    <h2 class="letter">I</h2>
                    <h2 class="letter">O</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container">
            <div class="col-sm-3 art">
                <img src="~/Images/Dog.png" alt="painting of a dog" />
            </div>

            <div class="col-sm-3 art">
                <img src="~/Images/Jiv.png" alt="couple portrait" />
            </div>

            <div class="col-sm-3 art pad">
                <img src="~/Images/Owl.jpg" alt="painting of an owl" />
            </div>

            <div class="col-sm-3 art pad">
                <img src="~/Images/Portrait.jpg" alt="painting of a woman" />
            </div>

            <div class="col-sm-3 art">
                <img src="~/Images/Rony.png" alt="kids portrait" />
            </div>

            <div class="col-sm-5 lg-art pad">
                <img src="~/Images/Miltons.png" alt="fa,ily portrait" />
            </div>

            <div class="col-sm-5 art">
                <img src="~/Images/Sketch.jpg" alt="charcoal sketch" />
            </div>

            <div class="col-sm-5 art">
                <img src="~/Images/Sky.png" alt="painting of a sky scene" />
            </div>

            <div class="col-sm-5 art">
                <img src="~/Images/TwoMen.jpg" alt="painting of two men" />
            </div>

            <div class="col-sm-5 art">
                <img src="~/Images/Women.jpg" alt="painting of a woman" />
            </div>
        </div>
    </div>
</div>
