@{
    ViewBag.Title = "Web Design";
}

<div class="d-row">
    <div class="d-column title-bg">
        <div class="container">
            <div class="pagetitle">
                <div class="title-animation">
                    <h2 class="web">W</h2>
                    <h2 class="web">E</h2>
                    <h2 class="web">B</h2>
                    <h2 class="web">D</h2>
                    <h2 class="web">E</h2>
                    <h2 class="web">S</h2>
                    <h2 class="web">I</h2>
                    <h2 class="web">G</h2>
                    <h2 class="web">N</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container pad">
            <a class="btn btn-success webbuttons active" href="##" id="1">Alec Gillanders</a>
            <a class="btn btn-success webbuttons" href="##" id="2">Artists</a>
            <a class="btn btn-success webbuttons" href="##" id="4">Bridge</a>
            <a class="btn btn-success webbuttons" href="##" id="3">My Staff File</a>

            <div class="voffset3">
                @*  Alec Gillanders  *@
                <div class="tab-panel webpanel" id="1">
                    <div class="col-sm-4">
                        <h4 class="text-success">Desktop</h4>
                        <img src="~/Images/ag2.jpg" alt="alec gillanders web site" />
                    </div>
                    <div class="col-sm-2">
                        <h4 class="loffset2 text-success">Moblie</h4>
                        <img src="~/Images/ag2m.jpg" alt="alec gillanders mobile web site" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <h4 class="loffset2 text-success">Basic responsive web page</h4>
                        <p class="web-text text-success">
                            This was my first website built using basic Html and CSS.
                            This was part of a TreeHouse training course,
                            focusing on a mobile first approach.
                        </p>
                        <p class="web-text text-success">
                            As you can see in the Mobile example the page was designed to stack,
                            with the nav bar below the site name and center aligned.
                        </p>
                        <p class="voffset2 web-text text-success">
                            The desktop view expands out and makes the most of the space available,
                            make sure to keep the site formating looking good.
                        </p>
                        <p class="web-text text-success">
                            If you are interested in learning web development I would recommend
                            <a href="https://teamtreehouse.com/">Treehouse</a>
                        </p>
                    </div>
                </div>

                @*  Artists  *@
                <div class="tab-panel webpanel inactive" id="2">
                    <div class="col-sm-3">
                        <img src="~/Images/Artists.jpg" alt="digital artist web site" />
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Images/Artists1.jpg" alt="digital artist web site" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <h4 class="text-muted loffset2">Single page website</h4>
                        <p class="web-text text-success">
                            Another Treehouse training course focused on creating a
                            personal, single page, web page. The focus of this site was on my three
                            favourite digiatl artists.
                        </p>
                        <p class="web-text text-success">
                            If your interested, visit the artists here:<br />
                            <a href="http://www.charliebowater.net/">Charlie Bowater</a> <br />
                            <a href="http://loish.net/">Loish van Baarle</a><br />
                            <a href="http://papaninja.cgsociety.org/">Serge Birault</a>
                        </p>
                    </div>
                </div>

                @*  Bridge  *@
                <div class="tab-panel webpanel inactive" id="4">
                    <div class="col-sm-7">
                        @Html.Partial("_BridgeAccordian")
                    </div>
                    <div class="col-sm-5 text-center">
                        <h4 class="text-success loffset2">Bridge</h4>
                        <p class="web-text text-success">
                            This was my first team project, the requirements for this application is to allow
                            NHS staff to track out of area patients and manage the finance that follows.
                        </p>
                        <p class="web-text text-success">
                            The design focus was to allow users to change and adapt
                            various features and form fields to keep up with the change of information.
                            As well as create a simple and clear user interface, so that the user could
                            easier read the required information.
                        </p>
                        <p class="web-text text-success">
                            To get a better understanding of what the software is designed to do, watch
                            the promotional video.
                        </p>
                        <a class="btn btn-success" data-toggle="modal" data-target="#BridgeVideo">Promotional Video</a>
                    </div>
                </div>

                @*  My Staff File  *@
                <div class="tab-panel webpanel inactive" id="3">
                    <div class="col-sm-7 mystaff">
                        @Html.Partial("_MyStaffFileAccordian")
                    </div>

                    <div class="col-sm-5 text-center">
                        <h4 class="text-success loffset2">My Staff File</h4>
                        <p class="web-text text-success">
                            To support the "go paperless" initiative, My Staff File has been created
                            for the purpose of managing staff records. This includes uploading and arranging
                            documents for each staff member.
                        </p>
                        <p class="web-text text-success">
                            There are three main areas, the manager page (My Staff),
                            Admin and Hr dashboard.
                        </p>
                        <p class="web-text text-success">
                            My Staff page allows manager to see their staff and mange their documents.
                        </p>
                        <p class="web-text text-success">
                            Admin page is designed to manage the application by updating dropdown menus and other
                            information as it changes.
                        </p>
                        <p class="web-text text-success">
                            Hr Dashboard is where human resources team manage all staff,
                            from the day they apply for a job till the day they leave the trust.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="BridgeVideo" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bridge Promotion Video</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <button class="btn btn-success" onclick="playPause()">Play/Pause</button>
                    <button class="btn btn-success" onclick="makeSmall()">Small</button>
                    <button class="btn btn-success" onclick="makeNormal()">Normal</button>
                    <button class="btn btn-success" onclick="makeBig()">Big</button>
                    <br><br>
                    <video id="video1" width="450">
                        <source src="~/Videos/Devon_Partnership.mov" type="video/mp4">
                    </video>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script>
        $(function () {
            $(".webbuttons").click(function () {
                //alert('#' + this.id + '.webpanel');
                var tableObjectName = '#' + this.id + '.webpanel';
                var btnObjectName = '#' + this.id + '.webbuttons';

                $(".webpanel").addClass("inactive");
                $(tableObjectName).removeClass("inactive");
                $(".webbuttons").removeClass("active");
                $(btnObjectName).addClass("active");
            });
        });
    </script>

    <script>
        var myVideo = document.getElementById("video1");

        function playPause() {
            if (myVideo.paused)
                myVideo.play();
            else
                myVideo.pause();
        }

        function makeBig() {
            myVideo.width = 600;
        }

        function makeSmall() {
            myVideo.width = 300;
        }

        function makeNormal() {
            myVideo.width = 450;
        }
    </script>
}