
@{
    ViewBag.Title = "Index";
}

<div class="d-row voffset4" ng-app="MyApp" ng-controller="MainCtrl">
    <div class="d-column">
        <div class="container voffset4">
            <div class="rsvp-box">
                <h1>RSVP</h1>
                <div class="search">
                    <input type="text"  ng-model="search.FirstName" class="form-control input-lg" placeholder="Find yourself...">    
                </div>
            </div>
            <div class="rsvp-display">
                <div class="inviteesTitle">
                    <h2 class="text-muted">Invitees</h2>
                    <h4 class="pull-right text-muted">Total Confirmed<i>{{(person | filter:Confirmed === fasle).length}}</i></h4>
                </div>
                
                @if(ViewBag.ErrorMessage != null)
                {
                    <p class="alert alert-warning">@ViewBag.ErrorMessage</p>
                }
                <div class="d-row">
                    <div ng-repeat="p in person | filter:search:strict">
                        <div class="d-column">
                            <div class="invited">
                                <h3 class="text-muted">
                                    {{p.FirstName}}
                                    <i class="user glyphicon glyphicon-user pull-right"></i>
                                </h3>
                                <hr class="colorgraph" />
                                <div class="confirm">
                                    <form>
                                        <label ng-show="p.Confirmed" class="text-success">Confirmed</label>
                                        <label ng-show="!p.Confirmed" class="text-danger">Confirm</label>
                                        <a class="btn btn-xs" ng-class="p.Confirmed ? 'btn-primary' : 'btn-default'" ng-click="confirm(p.PersonID, p.Confirmed = !p.Confirmed); p.expanded = !p.expanded" aria-hidden="true">
                                            <i ng-show="p.Confirmed" class="glyphicon glyphicon-ok"></i>
                                            <i ng-show="!p.Confirmed" class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/People.js"></script>
}