
@{
    ViewBag.Title = "Index";
}

<div class="d-row voffset4" ng-app="MyApp" ng-controller="MainCtrl">
    <div class="d-column">
        <div class="container voffset4">
            <div class="rsvp-box">
                <h1>RSVP</h1>
                @if (User.IsInRole("Admin"))
                {
                    <div class="search">
                        <div class="input-group">
                            <input type="text" class="form-control" id="input" placeholder="Find Person..." ng-model="name">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-ok"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                }
            </div>
            <div class="rsvp-display">
                <h2 class="text-muted">Invitees</h2>
                @if(ViewBag.ErrorMessage != null)
                {
                    <p class="alert alert-warning">@ViewBag.ErrorMessage</p>
                }
                <div class="d-row">
                    <div ng-repeat="p in person">
                        <div class="d-column">
                            <div class="invited">
                                <h3 class="text-muted">
                                    {{p.FirstName}}
                                    <i class="user glyphicon glyphicon-user pull-right"></i>
                                </h3>
                                <hr class="colorgraph" />
                                <div class="confirm">
                                    <form>
                                        <label ng-show="p.Confirmed" class="text-success">Confirmed</label>
                                        <label ng-show="!p.Confirmed" class="text-danger">Confirm</label>
                                        <a class="btn btn-xs" ng-class="p.Confirmed ? 'btn-primary' : 'btn-default'" ng-click="confirm(p.PersonID, p.Confirmed = !p.Confirmed); p.Confirmed = !p.Confirmed" aria-hidden="true">
                                            <i ng-show="p.Confirmed" class="glyphicon glyphicon-ok"></i>
                                            <i ng-show="!p.Confirmed" class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/People.js"></script>
}