<div class="bs-example">
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                    <h4 class="panel-title">Bridge Log-in</h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="">
                    <img src="~/Images/login.jpg" alt="bridge log in screen shot" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                    <h4 class="panel-title">Bridge Home Page</h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="">
                    <img src="~/Images/Bridge.jpg" alt="bridge home screen shot" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                    <h4 class="panel-title">Patient Overview</h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="">
                    <img src="~/Images/PatientOverview.jpg" alt="patient overview screen shot" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                    <h4 class="panel-title">Patient Details</h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="">
                    <img src="~/Images/PatientDetails.jpg" alt="Patient details screen shot" />
                </div>
            </div>
        </div>
    </div>
</div>                              		                            
