<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title">My Staff</h4>
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="">
                    <img src="~/Images/Home.jpg" alt="my staff file home page" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title">Admin</h4>
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="">
                    <img src="~/Images/Admin.jpg" alt="my staff file admin page" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <h4 class="panel-title">Hr Dashboard</h4>
                </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="">
                    <img src="~/Images/HrDashboard.jpg" alt="my staff file Hr page" />
                </div>
            </div>
        </div>
    </div>
</div>                              		                            
